body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

.container {
    background-color: black;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
}

.white-text{
    color: white;
}
.red-text{
    color: red;
}
.green-text{
    color: green;
}